.django-ace-widget {
  display: inline-block;
  position: relative;
}
.django-ace-widget > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.django-ace-widget.loading {
  display: none;
}
.django-ace-widget {
  /* Scroll bar */
}
.django-ace-widget ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #111;
}
.django-ace-widget ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #111;
}
.django-ace-widget ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #aaa;
}

.django-ace-toolbar {
  font-size: 12px;
  text-align: left;
  color: #aaa;
  text-shadow: 0 1px 0 #0f0f0f;
  border-bottom: 1px solid #3b3b3b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#181818));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), #181818);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), #181818);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #181818);
  background-repeat: repeat-x;
  clear: both;
  overflow: hidden;
}

.django-ace-max_min {
  float: right;
  padding: 5px;
  background: url("../ace/img/expand.png") no-repeat 5px 5px;
  -webkit-filter: invert(1) hue-rotate(180deg);
          filter: invert(1) hue-rotate(180deg);
  display: block;
  height: 16px;
  width: 16px;
}

.django-ace-editor {
  position: relative;
}

.django-ace-editor-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.django-ace-editor-fullscreen .django-ace-max_min {
  background-image: url("../ace/img/contract.png");
  -webkit-filter: invert(1) hue-rotate(180deg);
          filter: invert(1) hue-rotate(180deg);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uLy4uL3Jlc291cmNlcy9hY2UtZG1vai5zY3NzIiwiLi4vLi4vc2Fzc19wcm9jZXNzZWQvYWNlLWRtb2ouY3NzIiwiLi4vLi4vcmVzb3VyY2VzL3ZhcnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQUNJLHFCQUFBO0VBQ0Esa0JBQUE7QUNESjtBREVJO0VBQ0ksa0JBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0FDQVI7QURHSTtFQUNJLGFBQUE7QUNEUjtBRFhBO0VBZUksZUFBQTtBQ0RKO0FERUk7RUFDSSxvREFBQTtFQUNBLG1CQUFBO0VBQ0Esc0JFaEJTO0FEZ0JqQjtBREdJO0VBQ0ksV0FBQTtFQUNBLFVBQUE7RUFDQSxzQkV0QlM7QURxQmpCO0FESUk7RUFDSSxtQkFBQTtFQUNBLG9EQUFBO0VBQ0Esc0JFdkJVO0FEcUJsQjs7QURNQTtFQUNJLGVBQUE7RUFDQSxnQkFBQTtFQUNBLFdFOUJjO0VGK0JkLDRCQUFBO0VBQ0EsZ0NBQUE7RUFDQSxzR0FBQTtFQUFBLG9FQUFBO0VBQUEsaUVBQUE7RUFBQSw0REFBQTtFQUNBLDJCQUFBO0VBQ0EsV0FBQTtFQUNBLGdCQUFBO0FDSEo7O0FETUE7RUFDSSxZQUFBO0VBQ0EsWUFBQTtFQUVBLDBEQUFBO0VFV0EsNENBQUE7VUFBQSxvQ0FBQTtFRlRBLGNBQUE7RUFDQSxZQUFBO0VBQ0EsV0FBQTtBQ0pKOztBRE9BO0VBQ0ksa0JBQUE7QUNKSjs7QURPQTtFQUNJLGVBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLFNBQUE7RUFDQSxRQUFBO0VBQ0EsYUFBQTtBQ0pKO0FETUk7RUFDSSxnREFBQTtFRVRKLDRDQUFBO1VBQUEsb0NBQUE7QURNSiIsImZpbGUiOiJhY2UtZG1vai5jc3MifQ== */