.django-ace-widget {
  display: inline-block;
  position: relative;
}
.django-ace-widget > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.django-ace-widget.loading {
  display: none;
}
.django-ace-widget {
  /* Scroll bar */
}
.django-ace-widget ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f8f8f8;
}
.django-ace-widget ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #f8f8f8;
}
.django-ace-widget ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.django-ace-toolbar {
  font-size: 12px;
  text-align: left;
  color: #555;
  text-shadow: 0 1px 0 #fff;
  border-bottom: 1px solid #ccc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#eee));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), #eee);
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), #eee);
  background-image: linear-gradient(rgba(0, 0, 0, 0), #eee);
  background-repeat: repeat-x;
  clear: both;
  overflow: hidden;
}

.django-ace-max_min {
  float: right;
  padding: 5px;
  background: url("./ace/img/expand.png") no-repeat 5px 5px;
  display: block;
  height: 16px;
  width: 16px;
}

.django-ace-editor {
  position: relative;
}

.django-ace-editor-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.django-ace-editor-fullscreen .django-ace-max_min {
  background-image: url("./ace/img/contract.png");
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Jlc291cmNlcy9hY2UtZG1vai5zY3NzIiwiLi4vc2Fzc19wcm9jZXNzZWQvYWNlLWRtb2ouY3NzIiwiLi4vcmVzb3VyY2VzL3ZhcnMuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFFQTtFQUNJLHFCQUFBO0VBQ0Esa0JBQUE7QUNESjtBREVJO0VBQ0ksa0JBQUE7RUFDQSxNQUFBO0VBQ0EsT0FBQTtFQUNBLFFBQUE7RUFDQSxTQUFBO0FDQVI7QURHSTtFQUNJLGFBQUE7QUNEUjtBRFhBO0VBZUksZUFBQTtBQ0RKO0FERUk7RUFDSSxvREFBQTtFQUNBLG1CQUFBO0VBQ0EseUJFaEJTO0FEZ0JqQjtBREdJO0VBQ0ksV0FBQTtFQUNBLFVBQUE7RUFDQSx5QkV0QlM7QURxQmpCO0FESUk7RUFDSSxtQkFBQTtFQUNBLG9EQUFBO0VBQ0Esc0JFdkJVO0FEcUJsQjs7QURNQTtFQUNJLGVBQUE7RUFDQSxnQkFBQTtFQUNBLFdFOUJjO0VGK0JkLHlCQUFBO0VBQ0EsNkJBQUE7RUFDQSxtR0FBQTtFQUFBLGlFQUFBO0VBQUEsOERBQUE7RUFBQSx5REFBQTtFQUNBLDJCQUFBO0VBQ0EsV0FBQTtFQUNBLGdCQUFBO0FDSEo7O0FETUE7RUFDSSxZQUFBO0VBQ0EsWUFBQTtFQUVBLHlEQUFBO0VBRUEsY0FBQTtFQUNBLFlBQUE7RUFDQSxXQUFBO0FDTEo7O0FEUUE7RUFDSSxrQkFBQTtBQ0xKOztBRFFBO0VBQ0ksZUFBQTtFQUNBLE1BQUE7RUFDQSxPQUFBO0VBQ0EsU0FBQTtFQUNBLFFBQUE7RUFDQSxhQUFBO0FDTEo7QURPSTtFQUNJLCtDQUFBO0FDTFIiLCJmaWxlIjoiYWNlLWRtb2ouY3NzIn0= */