form .martor-preview {
  line-height: 1.5em;
  font-size: 1em;
  font-family: "Segoe UI", "Lucida Grande", Arial, sans-serif;
}
form .martor-preview p {
  margin: 1em 0 !important;
  padding: 0 !important;
}
form .martor-preview img {
  max-width: 100%;
  height: auto;
}
form .martor-preview h1, form .martor-preview h2, form .martor-preview h3, form .martor-preview h4, form .martor-preview h5, form .martor-preview h6 {
  font-weight: normal;
  color: #111;
  margin-bottom: 0.75em;
  padding: 0;
  background: 0;
}
form .martor-preview h3, form .martor-preview h4, form .martor-preview h5, form .martor-preview h6 {
  font-weight: bold;
}
form .martor-preview h1 {
  font-size: 2.5em;
}
form .martor-preview h2 {
  font-size: 2em;
}
form .martor-preview h3 {
  font-size: 1.6em;
  margin: 0;
  padding: 0;
}
form .martor-preview h4 {
  font-size: 1.4em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.225;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}
form .martor-preview h5 {
  font-size: 1.15em;
  margin-top: 0;
}
form .martor-preview h6 {
  font-size: 0.9em;
}
form .martor-preview blockquote {
  color: #808080;
  margin: 0;
  padding-left: 1.5em;
  border-left: 0.5em #eee solid;
}
form .martor-preview hr {
  display: block;
  height: 0;
  border: 0;
  font-style: italic;
  border-bottom: 1px solid #ccc;
  margin: 25px 0 20px 0;
  padding: 0;
}
form .martor-preview pre, form .martor-preview code, form .martor-preview kbd, form .martor-preview samp, form .martor-preview span.code {
  color: #000;
  page-break-inside: avoid;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  font-size: 0.98em;
}
form .martor-preview code, form .martor-preview span.code {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace !important;
  margin: 0 2px;
  padding: 0 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 4px;
  font-size: 0.95em;
  color: #3b3b3b;
}
form .martor-preview pre code, form .martor-preview pre div.code {
  border: 0;
  line-height: 1em;
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 1em;
  color: #000;
}
form .martor-preview pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: 1.5em 0 1.5em 0;
  padding: 1em;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  color: #000;
  border-radius: 4px;
}
form .martor-preview b, form .martor-preview strong {
  font-weight: bold;
}
form .martor-preview dfn {
  font-style: italic;
}
form .martor-preview ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
form .martor-preview mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
form .martor-preview sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
form .martor-preview sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
form .martor-preview sub {
  bottom: -0.25em;
}
form .martor-preview ul, form .martor-preview ol {
  padding: 0 0 0 2em;
}
form .martor-preview li p:last-child {
  margin: 0;
}
form .martor-preview dd {
  margin: 0 0 0 2em;
}
form .martor-preview img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}
form .martor-preview td {
  vertical-align: top;
}
form .martor-preview {
  min-height: 400px;
}
form .martor-preview ul li {
  list-style: unset !important;
}
form .martor-preview ul, form .martor-preview ol {
  margin-left: 0 !important;
}
form .martor-preview h5 {
  text-transform: none !important;
}

.main-martor-fullscreen {
  z-index: 99999 !important;
}

.section-martor div[data-tab^=editor-tab-] {
  padding: 0;
}
.section-martor .markdown-selector.markdown-emoji {
  display: none !important;
}
.section-martor .tab-martor-menu a.item {
  font-size: 0.8rem;
}
.section-martor .martor-toolbar {
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
     -moz-box-flex: 0 !important;
      -ms-flex: 0 1 auto !important;
          flex: 0 1 auto !important;
  overflow-x: auto;
  overflow-y: hidden;
}
.section-martor .martor-field {
  height: 400px;
}
.section-martor .ui.tabular.menu + .attached:not(.top).segment,
.section-martor .ui.tabular.menu + .attached:not(.top).segment + .attached:not(.top).segment {
  width: auto !important;
}
.section-martor .resizable .resizable-b {
  background: #e8e8e8 !important;
}
.section-martor {
  /* Hacks for dark mode only */
}
.section-martor .ui.basic.inverted.buttons .button, .section-martor .ui.basic.inverted.button {
  -webkit-box-shadow: 0px 0px 0px 0px #fff inset !important;
          box-shadow: 0px 0px 0px 0px #fff inset !important;
}
.section-martor .ui.attached.inverted.menu {
  border-bottom: 2px solid #aaa !important;
}
.section-martor {
  /* Scroll bar */
}
.section-martor ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f8f8f8;
}
.section-martor ::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background-color: #f8f8f8;
}
.section-martor ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.ace_scrollbar-v {
  cursor: ns-resize;
}

.main-martor {
  overflow: hidden;
}

.martor-toolbar {
  padding: 0 0.85714286em !important;
  padding-bottom: 4px !important;
}
.martor-toolbar .ui.icon .markdown-image-upload {
  position: relative;
  overflow: hidden;
}
.martor-toolbar .ui.icon .markdown-image-upload input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 25px;
  padding: 0;
  padding-left: 35px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  cursor: inherit;
  display: block;
}

.emoji-loader-init {
  min-height: 200px !important;
}

.insert-emoji {
  cursor: pointer;
}

/* Full Screen Mode */
.main-martor-fullscreen {
  background: #fff;
  position: fixed;
  z-index: 999;
  max-height: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  left: 0;
  top: 0;
}
.main-martor-fullscreen .fields.martor-toolbar {
  border-bottom: 1px solid #eee;
  margin: 0;
}
.main-martor-fullscreen .section-martor {
  height: 90%;
  position: relative;
}

.marked-emoji {
  max-width: 20px;
}

.martor {
  height: 500px;
  max-height: 500px;
}

.martor-field {
  width: 100%;
  height: 250px;
  min-height: 100px;
}

form .martor-preview-stale {
  background: -webkit-repeating-linear-gradient(135deg, #fff, #fff 10px, #f8f8f8 10px, #f8f8f8 20px) !important;
  background: -moz-repeating-linear-gradient(135deg, #fff, #fff 10px, #f8f8f8 10px, #f8f8f8 20px) !important;
  background: repeating-linear-gradient(-45deg, #fff, #fff 10px, #f8f8f8 10px, #f8f8f8 20px) !important;
}

.icon.expand-editor {
  position: absolute;
  bottom: 0.8em;
  right: 0;
}

.no-border {
  border: none !important;
}

/* Live Preview */
form .enable-living .martor-preview {
  display: block !important;
}
form .enable-living .tab-martor-menu a.item {
  display: none !important;
}

/* Django Admin */
.submit-row a {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}

body.overflow {
  overflow: hidden !important;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
  padding: 5px 15px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL3Jlc291cmNlcy9tYXJ0b3ItZGVzY3JpcHRpb24uc2NzcyIsIi4uL3Jlc291cmNlcy9iYXNlLWRlc2NyaXB0aW9uLnNjc3MiLCIuLi9zYXNzX3Byb2Nlc3NlZC9tYXJ0b3ItZGVzY3JpcHRpb24uY3NzIiwiLi4vcmVzb3VyY2VzL3ZhcnMuc2NzcyIsIi4uL3Jlc291cmNlcy92YXJzLWNvbW1vbi5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUdBO0VDQUksa0JBQUE7RUFDQSxjQUFBO0VBQ0EsMkRBQUE7QUNESjtBREdJO0VBQ0ksd0JBQUE7RUFDQSxxQkFBQTtBQ0RSO0FESUk7RUFDSSxlQUFBO0VBQ0EsWUFBQTtBQ0ZSO0FEU0k7RUFDSSxtQkFBQTtFQUNBLFdFWFU7RUZZVixxQkFBQTtFQUNBLFVBQUE7RUFDQSxhQUFBO0FDUFI7QURVSTtFQUNJLGlCQUFBO0FDUlI7QURXSTtFQUNJLGdCQUFBO0FDVFI7QURZSTtFQUNJLGNBQUE7QUNWUjtBRGFJO0VBQ0ksZ0JBQUE7RUFDQSxTQUFBO0VBQ0EsVUFBQTtBQ1hSO0FEY0k7RUFDSSxnQkFBQTtFQUNBLDJDQUFBO0VBQ0Esa0JBQUE7RUFDQSxxQkFBQTtFQUNBLGtCQUFBO0FDWlI7QURlSTtFQUNJLGlCQUFBO0VBQ0EsYUFBQTtBQ2JSO0FEZ0JJO0VBQ0ksZ0JBQUE7QUNkUjtBRGlCSTtFQUNJLGNFeERVO0VGeURWLFNBQUE7RUFDQSxtQkFBQTtFQUNBLDZCQUFBO0FDZlI7QURrQkk7RUFDSSxjQUFBO0VBQ0EsU0FBQTtFQUNBLFNBQUE7RUFDQSxrQkFBQTtFQUNBLDZCQUFBO0VBQ0EscUJBQUE7RUFDQSxVQUFBO0FDaEJSO0FEbUJJO0VBQ0ksV0VyRVc7RUZzRVgsd0JBQUE7RUFDQSxpT0c1RVU7RUg2RVYsaUJBQUE7QUNqQlI7QURvQkk7RUFDSSw0T0FBQTtFQUNBLGFBQUE7RUFDQSxjQUFBO0VBQ0Esc0JBQUE7RUFDQSx5QkV4RlM7RUZ5RlQsa0JHMUZlO0VIMkZmLGlCQUFBO0VBQ0EsY0VyRlU7QURtRWxCO0FEc0JRO0VBQ0ksU0FBQTtFQUNBLGdCQUFBO0VBQ0EsU0FBQTtFQUNBLFVBQUE7RUFDQSx1QkFBQTtFQUNBLGNBQUE7RUFDQSxXRTlGTztBRDBFbkI7QURZSTtFQVdJLHFCQUFBO0VBQ0EscUJBQUE7RUFDQSx1QkFBQTtFQUNBLFlBQUE7RUFDQSxzQkFBQTtFQUNBLHlCRTlHUztFRitHVCxXRXZHVztFRndHWCxrQkdqSGU7QUY2RnZCO0FEdUJJO0VBQ0ksaUJBQUE7QUNyQlI7QUR3Qkk7RUFDSSxrQkFBQTtBQ3RCUjtBRHlCSTtFQUNJLGdCQUFBO0VBQ0EsV0FBQTtFQUNBLHFCQUFBO0FDdkJSO0FEMEJJO0VBQ0ksZ0JBQUE7RUFDQSxXQUFBO0VBQ0Esa0JBQUE7RUFDQSxpQkFBQTtBQ3hCUjtBRDJCSTtFQUNJLGNBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSx3QkFBQTtBQ3pCUjtBRDRCSTtFQUNJLGNBQUE7RUFDQSxjQUFBO0VBQ0Esa0JBQUE7RUFDQSx3QkFBQTtFQUNBLFdBQUE7QUMxQlI7QUQ2Qkk7RUFDSSxlQUFBO0FDM0JSO0FEOEJJO0VBQ0ksa0JBQUE7QUM1QlI7QUQrQkk7RUFDSSxTQUFBO0FDN0JSO0FEZ0NJO0VBQ0ksaUJBQUE7QUM5QlI7QURpQ0k7RUFDSSxTQUFBO0VBQ0EsK0JBQUE7RUFDQSxzQkFBQTtBQy9CUjtBRGtDSTtFQUNJLG1CQUFBO0FDaENSO0FGaEpBO0VBR0ksaUJBQUE7QUVnSko7QUY5SUk7RUFDSSw0QkFBQTtBRWdKUjtBRjdJSTtFQUNJLHlCQUFBO0FFK0lSO0FGNUlJO0VBQ0ksK0JBQUE7QUU4SVI7O0FGMUlBO0VBQ0kseUJBQUE7QUU2SUo7O0FGeklJO0VBQ0ksVUFBQTtBRTRJUjtBRnpJSTtFQUNJLHdCQUFBO0FFMklSO0FGeElJO0VBQ0ksaUJBQUE7QUUwSVI7QUZ2SUk7RUFDSSw4QkFBQTtFQUFBLGlDQUFBO0tBQUEsMkJBQUE7TUFBQSw2QkFBQTtVQUFBLHlCQUFBO0VBQ0EsZ0JBQUE7RUFDQSxrQkFBQTtBRXlJUjtBRnRJSTtFQUNJLGFBQUE7QUV3SVI7QUZySUk7O0VBRUksc0JBQUE7QUV1SVI7QUZwSUk7RUFDSSw4QkFBQTtBRXNJUjtBRm5LQTtFQWdDSSw2QkFBQTtBRXNJSjtBRnJJSTtFQUNJLHlEQUFBO1VBQUEsaURBQUE7QUV1SVI7QUZwSUk7RUFDSSx3Q0FBQTtBRXNJUjtBRjVLQTtFQXlDSSxlQUFBO0FFc0lKO0FGcklJO0VBQ0Msb0RBQUE7RUFDQSxtQkFBQTtFQUNBLHlCR2pFWTtBRHdNakI7QUZwSUk7RUFDSSxXQUFBO0VBQ0gsVUFBQTtFQUNBLHlCR3ZFWTtBRDZNakI7QUZuSUk7RUFDQyxtQkFBQTtFQUNBLG9EQUFBO0VBQ0Esc0JHeEVhO0FENk1sQjs7QUZqSUE7RUFDSSxpQkFBQTtBRW9JSjs7QUZqSUE7RUFDSSxnQkFBQTtBRW9JSjs7QUZqSUE7RUFDSSxrQ0FBQTtFQUNBLDhCQUFBO0FFb0lKO0FGbElJO0VBQ0ksa0JBQUE7RUFDQSxnQkFBQTtBRW9JUjtBRmxJUTtFQUNJLGtCQUFBO0VBQ0EsTUFBQTtFQUNBLFFBQUE7RUFDQSxlQUFBO0VBQ0EsZ0JBQUE7RUFDQSxlQUFBO0VBQ0EsVUFBQTtFQUNBLGtCQUFBO0VBQ0EsaUJBQUE7RUFDQSx3QkFBQTtFQUNBLFVBQUE7RUFDQSxhQUFBO0VBQ0EsZUFBQTtFQUNBLGNBQUE7QUVvSVo7O0FGL0hBO0VBQ0ksNEJBQUE7QUVrSUo7O0FGL0hBO0VBQ0ksZUFBQTtBRWtJSjs7QUYvSEEscUJBQUE7QUFDQTtFQUNJLGdCRy9IYTtFSGdJYixlQUFBO0VBQ0EsWUFBQTtFQUNBLGdCQUFBO0VBQ0EsWUFBQTtFQUNBLFdBQUE7RUFDQSxTQUFBO0VBQ0EsT0FBQTtFQUNBLE1BQUE7QUVrSUo7QUZoSUk7RUFDSSw2QkFBQTtFQUNBLFNBQUE7QUVrSVI7QUYvSEk7RUFDSSxXQUFBO0VBQ0Esa0JBQUE7QUVpSVI7O0FGN0hBO0VBQ0ksZUFBQTtBRWdJSjs7QUY3SEE7RUFDSSxhQUFBO0VBQ0EsaUJBQUE7QUVnSUo7O0FGN0hBO0VBQ0ksV0FBQTtFQUNBLGFBQUE7RUFDQSxpQkFBQTtBRWdJSjs7QUY3SEE7RUFDSSw2R0FBQTtFQUFBLDBHQUFBO0VBQUEscUdBQUE7QUVnSUo7O0FGN0hBO0VBQ0ksa0JBQUE7RUFDQSxhQUFBO0VBQ0EsUUFBQTtBRWdJSjs7QUY3SEE7RUFDSSx1QkFBQTtBRWdJSjs7QUY3SEEsaUJBQUE7QUFFSTtFQUNJLHlCQUFBO0FFK0hSO0FGNUhJO0VBQ0ksd0JBQUE7QUU4SFI7O0FGMUhBLGlCQUFBO0FBQ0E7RUFDSSwrQkFBQTtLQUFBLDRCQUFBO1VBQUEsdUJBQUE7QUU2SEo7O0FGMUhBO0VBQ0ksMkJBQUE7QUU2SEo7O0FGMUhBO0VBQ0ksaUJBQUE7QUU2SEoiLCJmaWxlIjoibWFydG9yLWRlc2NyaXB0aW9uLmNzcyJ9 */